<div class="container">

    <!-- title -->
    <h1 class="my-5 text-center">CATEGORY PAGE</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3 d-flex flex-column align-items-center">
            <!-- loader -->
            <mat-spinner *ngIf="isLoading$ | async" diameter="50"></mat-spinner>

            <!-- form (admin only) -->
            <form *ngIf="!(isLoading$ | async) && (currentCategory$ | async) && (user$ | async) && (user$ | async).isAdmin === 'true'" class="w-100" [formGroup]="form" (submit)="onSubmit()">
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Name</mat-label>
                    <input 
                        matInput 
                        required
                        formControlName="name"
                        [disabled]="(isLoading$ | async)"
                    />
                    <br /><mat-error *ngIf="form.get('name').invalid">Category name is required</mat-error>
                </mat-form-field>
                
                <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea
                        matInput
                        formControlName="description"
                        [disabled]="(isLoading$ | async)"
                    ></textarea>
                </mat-form-field>

                <button [disabled]="(isLoading$ | async)" mat-stroked-button class="w-100">Update</button>

                <!-- error -->
                <div class="alert alert-dark text-center w-100 mt-5" role="alert" *ngIf="(error$ | async)">
                    {{(error$ | async)}}
                </div>
            </form>



            <!-- details (non-admins) -->
            <div class="w-100 card p-3" style="background: #ddd;" *ngIf="(!(user$ | async) || (user$ | async).isAdmin !== 'true') && (currentCategory$ | async).name">
                <h3 *ngIf="currentCategory$ | async" class="text-center font-weight-bold">{{(currentCategory$ | async).name | uppercase}}</h3>
                <p *ngIf="(currentCategory$ | async) || (currentCategory$ | async).description">{{(currentCategory$ | async).description}}</p>
                <p *ngIf="(currentCategory$ | async) && !(currentCategory$ | async).description">No description provided</p>
            </div>
        </div>
    </div>


</div>
